*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */
body, html{
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #016169, #018550, #79ac0c);
    
}



/* menu */

.header nav.navbar.navbar-expand-lg.navbar-light.white {
    padding: 1.2rem 0;
    transition: all .3s ease;
    background: rgba(255, 255, 255, 0.6) !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
}


.header nav.navbar.navbar-expand-lg.navbar-light.white:hover{
    background: rgba(255, 255, 255, 0.8) !important;
}

.header .navbar .navbar-brand{
    padding-left: 2rem;
}

.header .navbar .navbar-collapse{
    transition: .3s;
}

.header ul.menu li.nav-item {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0rem .6rem;
    transition: .3s;
    overflow: visible;
    text-align: center;
    position: relative;
}

.header .navbar .navbar-collapse ul.menu li.nav-item a,
.header .navbar .navbar-collapse ul.nav-flex-icons li.nav-item a{
    color: black;
    transition: .3s;
}
.header .navbar .navbar-collapse ul.nav-flex-icons li.nav-item a{
    padding: 0;
    line-height: 45px;
    font-size: 1.2rem;
}
.header .navbar.navbar-expand-lg.navbar-light.white.minimize{
    padding: 0 !important;
}

.header .navbar .navbar-collapse.collapse.show ul.menu li{
    text-align: center;
    transition: .3s;
}

.header .navbar .navbar-collapse.collapse.show ul.social,
.header .navbar .navbar-collapse.collapsing ul.social
{
    margin-top: 1rem;
}
.header .navbar .navbar-collapse ul.social{
    justify-content: center;
}

.header .navbar .navbar-collapse ul.social li{
    width: 45px;
    height: 45px;
    text-align: center;
}

.text-tooltip{
    position: absolute;
    content: '';
}

.text-tooltip span{
    position: relative;
    padding: .2rem 1rem;
    border-radius: .2rem;
    left: -50%;
    color: white;
    background: black;
    top: 6px;
    opacity: 0;
    transition: .3s;
    width: 100px;
    animation: tooltip-ani .3s linear;
}

.social li:nth-child(1) .text-tooltip span{
    background: #4267b2;
}
.social li:nth-child(2) .text-tooltip span{
    background: #1da1f2;
}
.social li:nth-child(3) .text-tooltip span{
    background: #000;
}
.social li:nth-child(4) .text-tooltip span{
    background: #0077b5;
} 

.header .navbar .navbar-collapse.collapse ul.social li:hover .text-tooltip span{
    transition: .3s;
    opacity: 1;
} 

.header .navbar .navbar-collapse ul.social li:nth-child(1):hover a{
    color: #4267b2;
    transition: .3s;
    transform: scale(1.1) !important;
}
.header .navbar .navbar-collapse ul.social li:nth-child(2):hover a{
    color: #1da1f2;
    transition: .3s;
}
.header .navbar .navbar-collapse ul.social li:nth-child(3):hover a{
    color: #000;
    transition: .3s;
}
.header .navbar .navbar-collapse ul.social li:nth-child(4):hover a{
    color: #0077b5;
    transition: .3s;
}


/* end menu */

/* home */
.home{
    padding-top: 10rem;
}

.home .container .block{
    height: 300px;
    background: yellow;
    margin: 1rem;
}


/* end home */


/* to top component  */
.to-top{
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 4rem;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    visibility: hidden;
    text-align: center;
}

.to-top.show{
    opacity: 1;
    transition: .3s;
    visibility: visible;
}
/* end to top component  */


/* login-popup component */
.login-section{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    backdrop-filter: blur(20px);
}

.login-section.show-popup{
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.login-popup{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
    transition: .3s;
}

.show-popup .login-popup{
    transform: translate(-50%, -35%);
    opacity: 1;
    transition: .3s;
}


/* end login-popup component */

.container-module--root--3L_T4{
    padding-top: 5.5rem;
}