@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

/* .root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 1em;
  display: flex;

  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.branding {
  font-weight: 600;
  flex: 1;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      color: var(--color-accent);
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 4.3rem;

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.showNav {
  display: block;
} */



  /* menu */
  
  .header nav.navbar.navbar-expand-lg.navbar-light.white {
    padding: 1.2rem 0;
    transition: all .3s ease;
    background: rgba(255, 255, 255, 0.2) !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
  }
  
  
  .header nav.navbar.navbar-expand-lg.navbar-light.white:hover{
    background: rgba(255, 255, 255, 0.6) !important;
  }
  
  .header .navbar .navbar-brand{
    padding-left: 2rem;
    transform: scale(1.3);
  }
  
  .header .navbar .navbar-collapse{
    transition: .3s;
  }
  
  .header ul.menu li.nav-item {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0rem .6rem;
    transition: .3s;
    overflow: visible;
    text-align: center;
    position: relative;
  }
  
  .header .navbar .navbar-collapse ul.menu li.nav-item a,
  .header .navbar .navbar-collapse ul.nav-flex-icons li.nav-item a{
    color: black;
    transition: .3s;
  }
  .header .navbar .navbar-collapse ul.nav-flex-icons li.nav-item a{
    padding: 0;
    line-height: 45px;
    font-size: 1.2rem;
  }
  .header .navbar.navbar-expand-lg.navbar-light.white.minimize{
    padding: 0 !important;
  }
  
  .header .navbar.navbar-expand-lg.navbar-light.white.minimize .navbar-brand{
    transform: scale(1);
  }
  
  .header .navbar .navbar-collapse.collapse.show ul.menu li{
    text-align: center;
    transition: .3s;
  }
  
  .header .navbar .navbar-collapse.collapse.show ul.social,
  .header .navbar .navbar-collapse.collapsing ul.social
  {
    margin-top: 1rem;
  }
  .header .navbar .navbar-collapse ul.social{
    justify-content: center;
  }
  
  .header .navbar .navbar-collapse ul.social li{
    width: 45px;
    height: 45px;
    text-align: center;
  }
  
  .text-tooltip{
    position: absolute;
    content: '';
  }
  
  .text-tooltip span{
    position: relative;
    padding: .2rem 1rem;
    border-radius: .2rem;
    left: -50%;
    color: white;
    background: black;
    top: 6px;
    opacity: 0;
    transition: .3s;
    width: 100px;
    animation: tooltip-ani .3s linear;
  }
  
  .social li:nth-child(1) .text-tooltip span{
    background: #4267b2;
  }
  .social li:nth-child(2) .text-tooltip span{
    background: #bd4840;
  }
  .social li:nth-child(3) .text-tooltip span{
    background: #1da1f2;
  }
  .social li:nth-child(4) .text-tooltip span{
    background: #000;
  }
  .social li:nth-child(5) .text-tooltip span{
    background: #0077b5;
  } 
  
  .header .navbar .navbar-collapse.collapse ul.social li:hover .text-tooltip span{
    transition: .3s;
    opacity: 1;
  } 
  
  .header .navbar .navbar-collapse ul.social li:nth-child(1):hover a{
    color: #4267b2;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar .navbar-collapse ul.social li:nth-child(2):hover a{
    color: #bd4840;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar .navbar-collapse ul.social li:nth-child(3):hover a{
    color: #1da1f2;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar .navbar-collapse ul.social li:nth-child(4):hover a{
    color: #000;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar .navbar-collapse ul.social li:nth-child(5):hover a{
    color: #0077b5;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  