
  /* menu */
  
  @import url('https://fonts.googleapis.com/css?family=Ruge+Boogie&display=swap');

  .header {
    padding: 0.5rem;
    transition: all .3s ease;
    background: rgba(255, 255, 255, 0.2) !important;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
  }
  
  
  .header:hover{
    background: rgba(255, 255, 255, 0.6) !important;
  }
  
  .header  .navbar-brand a{
    padding-left: 2rem;
    font-size: 2rem;
    line-height: 100%;
    color: #74d14c;
    font-family: 'Ruge Boogie', cursive;
  }
  


  .header ul.menu li.nav-item {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0rem .6rem;
    transition: .3s;
    overflow: visible;
    text-align: center;
    position: relative;
  }
  


  .header  .navbar-collapse.collapse.show ul.menu li{
    text-align: center;
    transition: .3s;
  }
  
  .header  .navbar-collapse.collapse.show ul.social,
  .header  .navbar-collapse.collapsing ul.social
  {
    /* margin-top: 1rem; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .header  .navbar-collapse ul.social li{
    width: 45px;
    height: 100%;
    text-align: center;
  }

  
  
  .header  .navbar-collapse ul.social li a i{
    font-size: 1.4rem;
    transition: .3s;
    height: 100%;
  }

  .text-tooltip{
    position: absolute;
    content: '';
  }
  
  .text-tooltip span{
    position: relative;
    padding: .2rem 1rem;
    border-radius: .2rem;
    left: -50%;
    color: white;
    background: black;
    top: 6px;
    opacity: 0;
    transition: .3s;
    width: 100px;
    animation: tooltip-ani .3s linear;
  }
  
  .social li:nth-child(1) .text-tooltip span{
    background: #4267b2;
  }
  .social li:nth-child(2) .text-tooltip span{
    background: #bd4840;
  }
  .social li:nth-child(3) .text-tooltip span{
    background: #1da1f2;
  }
  .social li:nth-child(4) .text-tooltip span{
    background: #000;
  }
  .social li:nth-child(5) .text-tooltip span{
    background: #0077b5;
  } 
  
  .header  .navbar-collapse.collapse ul.social li:hover .text-tooltip span{
    transition: .3s;
    opacity: 1;
  } 
  
  .header .navbar-collapse ul.social li:nth-child(1):hover a i{
    color: #4267b2;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar-collapse ul.social li:nth-child(2):hover a i{
    color: #bd4840;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar-collapse ul.social li:nth-child(3):hover a i{ 
    color: #1da1f2;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar-collapse ul.social li:nth-child(4):hover a i{
    color: #000;
    transition: .3s;
    transform: scale(1.2) !important;
  }
  .header .navbar-collapse ul.social li:nth-child(5):hover a i{
    color: #0077b5;
    transition: .3s;
    transform: scale(1.2) !important;
  }


  .menu .nav-item a:before{
    content: '[';
    height: 100%;
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
    padding: .5rem;
    transform: translateX(8px);
    opacity: 0;
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .menu .nav-item a:after{
    content: ']';
    height: 100%;
    position: absolute;
    width: 20px;
    top: 0;
    right: 0;
    padding: .5rem;
    transform: translateX(-8px);
    opacity: 0;
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .menu .nav-item a:hover:before{
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateX(-8px);
    opacity: 1;
  }
  
  .menu .nav-item a:hover:after{
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateX(8px);
    opacity: 1;
  }