
.indigo-text{
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 3rem;
}

.indigo-text:hover{
    letter-spacing: .5rem;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}