/* login-popup component */
.login-section{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    backdrop-filter: blur(20px);
    z-index: 1001;
  }
  
  .login-section.show-popup{
    opacity: 1;
    visibility: visible;
    transition: .3s;
  }
  
  .login-popup{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
    transition: .3s;
    text-align: justify;
  }
  
  .show-popup .login-popup{
    transform: translate(-50%, -35%);
    opacity: 1;
    transition: .3s;
  }

  .login-section strong{
    font-size: 1.2rem;
    display: block;
    text-align: center;
  }

  .login-section .buttons{
    display: block;
    width: 100%;
    text-align: center;
  }